body {
	display: flex;
}
section {
	width: 80%;
	margin: 0 auto;
}
.navbar {
	position: fixed;
	top: 0;
	height: 100%;
	width: 15%;
	border-right: 1px solid #a6795e;
	overflow-y: auto;
}
h3 {
	font-family: cursive;
	color: #f76611;
}
.nav-link {
	  display: list-item;
	  text-decoration: none;
	  padding: 10px;
	  color: black;
	  font-family: cursive;
	  font-size: 15px;
}
.nav-link:hover {
	color: #f76611;
	text-decoration: underline;
}
main {
	width: 80%;
	margin-left: 240px;
	max-width: 80%;
}
h2 {
	color: #f76611;
	font-family: cursive;
	text-decoration: underline;
}
code {
	background-color: #edbfa4;
}
p {
	font-family: Arial;
}
ul {
	font-family: Arial;
	font-size: 15px;
}
li {
	padding: 5px;
}
@media only screen and (max-width: 768px) {
/* For desktop: */
	.col-1 { width: 25%; }
	.col-2 { width: 75%; }
}
  